<h1><%= current_user.name %></h1>
<h2><%= current_user.email %></h2>
<h2><%= current_user.address %></h2>

<% if @new_seller %>
  <%= simple_form_for [current_user, @new_seller] do |f| %>
    <%= f.input :phone_number %>
    <%= f.submit "become a seller" %>
  <% end %>
<% else %>
  <h2>Books you're selling:</h2>
<% end %>

